[Unit]
Description=Check luxury-watch-monitor main every two minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s
Unit=luxury-watch-monitor-deploy.service

[Install]
WantedBy=timers.target
